.u-section-1 {background-image: url("images/IMG-20201002-WA0061.jpg"); background-position: 50% 72.75%}
.u-section-1 .u-sheet-1 {min-height: 810px}
.u-section-1 .u-group-1 {width: 739px; min-height: 225px; height: auto; margin: 498px 110px 60px auto}
.u-section-1 .u-container-layout-1 {padding-bottom: 24px; padding-top: 0}
.u-section-1 .u-text-1 {font-weight: 400; font-size: 4.5rem; margin: 0 auto}
.u-section-1 .u-text-2 {font-size: 1.25rem; letter-spacing: 2px; margin: 10px 26px 0 20px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 638px}
.u-section-1 .u-group-1 {width: 745px; min-height: 220px; margin-top: 399px; margin-right: -32px; margin-bottom: 19px}
.u-section-1 .u-text-1 {margin-top: 1px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 489px}
.u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 367px}
.u-section-1 .u-group-1 {margin-top: -438px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 18px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 346px}
.u-section-1 .u-group-1 {min-height: 582px; width: 340px; margin: -417px -78px 60px auto}
.u-section-1 .u-text-1 {font-size: 3rem; width: auto; margin-top: 605px; margin-left: 33px}
.u-section-1 .u-text-2 {font-size: 0.875rem; width: auto; margin: 0 33px -195px 13px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 780px}
.u-section-2 .u-group-1 {width: 986px; min-height: 720px; height: auto; margin: 60px auto 0 0}
.u-section-2 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-1 {font-weight: 400; font-size: 3rem; margin: 56px -116px 0 116px}
.u-section-2 .u-text-2 {font-size: 1.25rem; letter-spacing: 2px; margin: 80px -176px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 846px}
.u-section-2 .u-group-1 {width: 685px; margin-top: 74px; margin-bottom: 40px}
.u-section-2 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-2 .u-text-1 {width: auto; margin-right: -129px; margin-left: 129px}
.u-section-2 .u-text-2 {width: auto; margin-right: -258px} }

@media (max-width: 991px){ .u-section-2 .u-group-1 {width: 525px} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {width: 492px}
.u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-right: 0} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 340px} }.u-section-3 {background-image: url("images/57e8d1444a52aa14f6da8c7dda793678153bdee757596c48732f7ad39348cd5dbc_1280.jpg"); background-position: 50% 50%; background-size: 130%}
.u-section-3 .u-sheet-1 {min-height: 722px}
.u-section-3 .u-layout-wrap-1 {margin: 161px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 360px}
.u-section-3 .u-shape-1 {width: 66px; height: 66px; margin: 33px auto 0}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 2.25rem; width: 55px; margin: -54px auto 0}
.u-section-3 .u-text-2 {font-weight: 400; font-size: 3rem; margin: 34px 21px 0}
.u-section-3 .u-layout-cell-2 {background-image: none; min-height: 360px}
.u-section-3 .u-shape-2 {width: 66px; height: 66px; margin: 33px auto 0 150px}
.u-section-3 .u-text-3 {font-weight: 700; font-size: 2.25rem; width: 55px; margin: -53px auto 0}
.u-section-3 .u-text-4 {font-weight: 400; font-size: 3rem; margin: 33px 21px 0}
.u-section-3 .u-layout-cell-3 {background-image: none; min-height: 360px}
.u-section-3 .u-shape-3 {width: 66px; height: 66px; margin: 33px auto 0}
.u-section-3 .u-text-5 {font-weight: 700; font-size: 2.25rem; width: 55px; margin: -54px auto 0}
.u-section-3 .u-text-6 {font-weight: 400; font-size: 3rem; margin: 34px 21px 0}
.u-section-3 .u-text-7 {font-size: 3.75rem; margin: 141px auto 35px} 

@media (max-width: 1199px){ .u-section-3 {background-position: 47.86% 0%; background-size: 145%}
.u-section-3 .u-sheet-1 {min-height: 235px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-shape-1 {width: 54px}
.u-section-3 .u-text-1 {width: 45px; position: relative}
.u-section-3 .u-text-2 {position: relative; margin-left: 17px; margin-right: 17px}
.u-section-3 .u-shape-2 {width: 54px; margin-left: 124px}
.u-section-3 .u-text-3 {width: 45px}
.u-section-3 .u-text-4 {position: relative; margin-left: 17px; margin-right: 17px}
.u-section-3 .u-shape-3 {width: 54px}
.u-section-3 .u-text-5 {width: 45px; position: relative}
.u-section-3 .u-text-6 {position: relative; margin-left: 17px; margin-right: 17px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 335px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-shape-1 {width: 66px}
.u-section-3 .u-text-1 {width: 51px}
.u-section-3 .u-text-2 {margin-top: 33px; margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-shape-2 {width: 66px; margin-left: auto}
.u-section-3 .u-text-3 {width: 50px; margin-top: -54px}
.u-section-3 .u-text-4 {margin-top: 32px; margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-shape-3 {width: 66px; margin-top: 34px}
.u-section-3 .u-text-5 {width: 59px}
.u-section-3 .u-text-6 {margin-top: 33px; margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 435px}
.u-section-3 .u-layout-wrap-1 {width: 452px; margin-top: 47px; margin-right: auto; margin-left: 44px}
.u-section-3 .u-shape-1 {width: 62px; margin-top: 40px}
.u-section-3 .u-text-1 {width: 61px}
.u-section-3 .u-text-2 {margin-top: 32px; margin-left: 10px; margin-right: 10px}
.u-section-3 .u-shape-2 {width: 62px}
.u-section-3 .u-text-3 {width: 49px; position: relative}
.u-section-3 .u-text-4 {margin-left: 10px; margin-right: 10px}
.u-section-3 .u-shape-3 {width: 62px; margin-top: 55px}
.u-section-3 .u-text-5 {width: 49px}
.u-section-3 .u-text-6 {margin-top: 32px; margin-left: 10px; margin-right: 10px} }

@media (max-width: 575px){ .u-section-3 {background-position: 48.38% 0%; background-size: auto 170%}
.u-section-3 .u-layout-wrap-1 {margin-top: 33px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-shape-1 {width: 52px; margin-top: 45px}
.u-section-3 .u-text-1 {width: 47px}
.u-section-3 .u-text-2 {margin-top: 21px; margin-left: 6px; margin-right: 6px}
.u-section-3 .u-shape-2 {width: 52px; margin-top: 40px}
.u-section-3 .u-text-3 {width: 47px}
.u-section-3 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-shape-3 {width: 52px; margin-top: 57px}
.u-section-3 .u-text-5 {width: 47px}
.u-section-3 .u-text-6 {margin-top: 11px; margin-left: 6px; margin-right: 6px}
.u-section-3 .u-text-7 {font-size: 2.25rem; margin-left: 0; margin-right: 0} }.u-section-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(https\:\/\/images01\.nicepage\.io\/e0\/cd\/e0cd5b9c022703abe1039b862844f5d3\.png)}
.u-section-4 .u-sheet-1 {min-height: 2752px}
.u-section-4 .u-group-1 {width: 899px; min-height: 675px; height: auto; margin: 48px auto 0}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px; padding-bottom: 0}
.u-section-4 .u-text-1 {font-weight: 400; font-size: 3rem; margin: 18px 0 0}
.u-section-4 .u-text-2 {letter-spacing: 2px; font-size: 1.25rem; margin: 87px -140px 0}
.u-section-4 .u-image-1 {width: 234px; height: 190px; margin: -670px -28px 0 auto}
.u-section-4 .u-text-3 {width: 483px; margin: 366px auto 0}
.u-section-4 .u-text-4 {font-size: 1.25rem; margin: 37px 1px 0}
.u-section-4 .u-image-2 {width: 600px; height: 68px; margin: -261px auto 0}
.u-section-4 .u-image-3 {width: 329px; height: 266px; margin: 199px 37px 0 auto}
.u-section-4 .u-text-5 {margin: -93px 483px 0 auto}
.u-section-4 .u-text-6 {font-size: 1.25rem; margin: 66px 1px 0}
.u-section-4 .u-image-4 {width: 452px; height: 138px; margin: -51px 329px 0 auto} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 2866px}
.u-section-4 .u-group-1 {width: 665px; min-height: 235px}
.u-section-4 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-4 .u-text-1 {margin-top: -21px}
.u-section-4 .u-text-2 {width: auto; margin-top: 9px; margin-right: -149px; margin-left: -131px}
.u-section-4 .u-image-1 {width: 267px; margin-top: 1943px; margin-right: -113px}
.u-section-4 .u-text-3 {width: 514px; margin-top: 58px; margin-right: 213px; margin-left: 213px}
.u-section-4 .u-text-4 {margin-top: -2188px; margin-left: 0; margin-right: 0}
.u-section-4 .u-image-2 {width: 589px; height: 79px; margin-top: -314px; margin-left: 176px}
.u-section-4 .u-image-3 {width: 271px; height: 267px; margin-top: 235px; margin-right: 9px}
.u-section-4 .u-text-5 {width: auto; margin-top: -91px; margin-right: auto}
.u-section-4 .u-text-6 {margin-top: 70px; margin-left: 0; margin-right: 0}
.u-section-4 .u-image-4 {margin-right: 176px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-4 {min-height: 979px}
.u-section-4 .u-sheet-1 {min-height: 2195px}
.u-section-4 .u-group-1 {width: 581px; min-height: 268px}
.u-section-4 .u-text-1 {position: relative; margin-top: 22px}
.u-section-4 .u-text-2 {position: relative; margin-top: 283px}
.u-section-4 .u-image-1 {margin-top: 2369px}
.u-section-4 .u-text-3 {margin-top: -867px; margin-left: 103px; margin-right: 103px}
.u-section-4 .u-text-4 {width: 720px; margin-top: -2511px}
.u-section-4 .u-image-2 {margin-top: -191px; margin-left: auto}
.u-section-4 .u-image-3 {margin-top: 112px}
.u-section-4 .u-text-5 {margin-top: 31px; margin-right: 483px}
.u-section-4 .u-image-4 {margin-bottom: 14px} }

@media (max-width: 767px){ .u-section-4 {min-height: 1730px}
.u-section-4 .u-sheet-1 {min-height: 1639px}
.u-section-4 .u-group-1 {width: 540px; min-height: 275px}
.u-section-4 .u-text-1 {margin-top: 26px}
.u-section-4 .u-text-2 {margin-top: 372px; margin-left: 0; margin-right: 0}
.u-section-4 .u-image-1 {margin-top: 2933px}
.u-section-4 .u-text-3 {margin-top: -1379px; margin-left: 13px; margin-right: 13px}
.u-section-4 .u-text-4 {width: 540px; margin-top: -3075px}
.u-section-4 .u-image-2 {width: 540px; height: 72px}
.u-section-4 .u-image-3 {margin-top: 119px}
.u-section-4 .u-text-5 {margin-top: 24px}
.u-section-4 .u-image-4 {margin-right: 88px; margin-bottom: 60px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1240px}
.u-section-4 .u-group-1 {width: 340px}
.u-section-4 .u-text-2 {margin-top: 20px}
.u-section-4 .u-image-1 {margin-top: 4875px}
.u-section-4 .u-text-3 {width: 340px; margin-top: 20px; margin-left: auto; margin-right: auto}
.u-section-4 .u-text-4 {width: 340px; margin-top: -5017px}
.u-section-4 .u-image-2 {width: 340px; height: 45px; margin-top: 307px; margin-left: 41px}
.u-section-4 .u-image-3 {margin-top: -332px; margin-left: 0}
.u-section-4 .u-text-5 {margin-top: 476px; margin-right: 304px}
.u-section-4 .u-image-4 {width: 340px; height: 104px; margin-right: 0} }.u-section-5 .u-sheet-1 {min-height: 500px} 

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 400px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 350px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 220px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 100vh}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; margin: 96px auto 0 15px}
.u-section-6 .u-text-1 {font-size: 1.875rem; margin: -44px 8px 60px 79px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 878px}
.u-section-6 .u-icon-1 {margin-top: 60px; margin-left: 16px}
.u-section-6 .u-text-1 {width: auto; margin-top: -24px; margin-right: 37px; margin-left: 80px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 935px}
.u-section-6 .u-icon-1 {position: relative; margin-left: 13px; margin-right: 13px}
.u-section-6 .u-text-1 {margin-right: 0; margin-left: 90px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1525px}
.u-section-6 .u-icon-1 {margin-left: 9px; margin-right: 9px}
.u-section-6 .u-text-1 {position: relative; margin-right: 8px; margin-left: 93px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 1199px}
.u-section-6 .u-icon-1 {margin-left: 6px; margin-right: 6px}
.u-section-6 .u-text-1 {margin-right: 5px; margin-left: 86px} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 100vh}
.u-section-7 .u-icon-1 {height: 64px; width: 64px; margin: 96px auto 0 15px}
.u-section-7 .u-text-1 {font-size: 1.875rem; margin: -44px 43px 60px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 878px}
.u-section-7 .u-icon-1 {margin-top: 60px; margin-left: 16px}
.u-section-7 .u-text-1 {width: auto; margin-top: -24px; margin-right: 37px; margin-left: 80px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 935px}
.u-section-7 .u-icon-1 {position: relative; margin-left: 13px; margin-right: 13px}
.u-section-7 .u-text-1 {margin-right: 0; margin-left: 90px} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 1525px}
.u-section-7 .u-icon-1 {margin-left: 9px; margin-right: 9px}
.u-section-7 .u-text-1 {position: relative; margin-right: 43px; margin-left: 93px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 1199px}
.u-section-7 .u-icon-1 {margin-left: 6px; margin-right: 6px}
.u-section-7 .u-text-1 {margin-right: 5px; margin-left: 86px} }